* {
	box-sizing: border-box;	
}

body {
	background: darkgray;
}

.synth-container {
	width: 12em;
	height: 10em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid black;
	border-radius: 2px;
}

.synth-knobs {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.trig-container {
	height: 3em;
	display: flex;
	justify-content: center;
}

.trig-container button {
	width: 4em;
	height: 2em;
}
